/* Colores */
$primary: black
$secondary: yellow
$alternative: white
$text-color: 

// Espaciados

$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;


// Font-family

$font-principal:
$font-title:

// Font size

$text-large: 5.2em;
$text-medium: 2.2em;
$text-base: 1.6em;
$text-small: 1.4em;
